<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="at.medevit.elexis.properties.propertyPage.PatientPropertyPage"
            icon="rsc/icons/personal.png"
            id="at.medevit.elexis.properties.propertyPage.PatientPropertyPage"
            name="%Details">
         <enabledWhen>
            <instanceof
                  value="ch.elexis.data.Patient">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="at.medevit.elexis.properties.propertyPage.PatientAddressPage"
            icon="rsc/icons/address-book-new-2.png"
            id="at.medevit.elexis.properties.propertyPage.PatientAddressPage"
            name="%Address">
         <enabledWhen>
            <instanceof
                  value="ch.elexis.data.Patient">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="at.medevit.elexis.properties.propertyPage.XIDPropertyPage"
            icon="rsc/icons/emblem-symbolic-link-2.png"
            id="at.medevit.elexis.properties.propertyPage.XIDPropertyPage"
            name="XID">
         <enabledWhen>
            <instanceof
                  value="ch.elexis.data.PersistentObject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.codedetailview">
         <command
               commandId="org.eclipse.ui.file.properties"
               icon="rsc/icons/system-search-3.png"
               label="%Properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.LeistungenView">
         <command
               commandId="org.eclipse.ui.file.properties"
               icon="rsc/icons/system-search-3.png"
               label="%Properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.PatListView">
         <command
               commandId="org.eclipse.ui.file.properties"
               icon="rsc/icons/system-search-3.png"
               label="%Properties"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
